.form-container {
  padding: 60px;
  width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  padding-top: 100px;
}

h1 {
  color: #0A2647;
  margin-bottom: 20px;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container button {
  background-color: #2980B9;
  color: white;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #2C74B3;
  color: white;
}

@media (max-width: 600px) {
  .form-container {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
  }
}