body {
    background-color: #2980B9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px; /* Increase the base font size */
}

.login {
    text-align: center;
}

.login-screen {
    background-color: #fff;
    padding: 30px; /* Increase padding */
    border-radius: 5px;
}

.app-title {
    margin-bottom: 30px; /* Increase margin */
    font-size: 24px; /* Increase font size */
}

.login-form {
    margin: 0 auto;
}

.control-group {
    margin-bottom: 15px; /* Increase margin */
}

.login-field {
    width: 100%;
    padding: 15px; /* Increase padding */
    text-align: center;
    font-size: 20px; /* Increase font size */
}

.btn {
    display: block;
    width: 100%;
    padding: 15px; /* Increase padding */
    font-size: 20px; /* Increase font size */
}