body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2980B9;
}

body nav, body footer {
    display: none !important;
}

@media (min-width: 992px) {
    body nav.d-lg-flex, body .footer.d-lg-flex {
        display: none !important;
    }
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group input {
    border: 1px solid #2980B9;
    border-radius: 5px;
    box-shadow: none;
    height: 50px;
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    border: none;
    border-radius: 5px;
    height: 50px;
    background-color: #2980B9;
    color: white;
    font-size: 1.2em;
    width: 100%;
}

.btn:hover {
    background-color: #2C74B3;
    color: white;
}