.title {
    margin-top: 90px;
}

.sort-section {
    margin-top: 15px;
}

.col-md-4 {
    margin-top: 15px;
}

.card p {
    margin: 0;
}

.card button {
  background-color: #4CAF50;  /* Green color for button */
  color: white;  /* White text color */
  padding: 10px 20px;  /* Add some padding to button */
  border: none;  /* Remove default button border */
  border-radius: 5px;  /* Round corners for buttons */
  cursor: pointer;  /* Change cursor to pointer on hover */
}