.title {
    margin-top: 90px;
}

.sort-section {
    margin-top: 15px;
}

.col-md-4 {
    margin-top: 15px;
}

.card p {
    margin: 0;
}

.card button {
  background-color: #2980B9;
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #2C74B3;
}