/* For all texts */
body {
  font-family: 'Inter', sans-serif !important;
}

/* For logos and large texts */
.logo, h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 600;
}

h5, h6 {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 600;
}