{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">
<title>{% block title %}Tutoring Requests{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="title">Tutoring Requests</h1>
    <div class="col-md-12">
      <form id="searchForm" class="d-flex">
        <input class="search-field" type="search" placeholder="Find a CITS unit..." aria-label="Search">
        <button class="search-btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-3">
      <div class="list-group">
        <h5 class="list-group-item">Sort by</h5>
        <div class="list-group-item">
          <select class="form-control" id="sort">
            <option value="name_asc">Name (A-Z)</option>
            <option value="name_desc">Name (Z-A)</option>
            <option value="units_asc">Units (Low to High)</option>
            <option value="units_desc">Units (High to Low)</option>
            <option value="time_created_asc">Time Created (Oldest to Newest)</option>
            <option value="time_created_desc">Time Created (Newest to Oldest)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-9 items-section">
      <div class="row">
        {% for request in requests %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">             
                <h5 class="card-title">{{ request['unit'] }}</h5>
                <p class="card-text">Requested by: {{ request['user'] }} </p>
                <p class="card-text">Completed by: {{ request['tutor'] }} </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
