{% extends "layout.html" %}
{% block title %}Request A Tutor{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
   <form>
    <div>
        <label>What is the unit code? </label>
        <input>
   </div>
   <div>
        <label>What times are you availible?></label>
        <input>
    </div>
    <button>Submit</button>

   </form>
</body>
</html>

{% endblock %}