{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- Javascript -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>{% block title %}CompuTUTE{% endblock %}</title>
{% endblock %}
{% block content %}
<!-- Carousel -->
<div class="full-height">
  <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <h1 class="mb-4 text-center">Personalized Tutoring For CITS Units</h1>
          <h3 class="text-center">Find the right tutor, right away</h3>
          <div class="d-flex justify-content-center align-items-center">
            <div class="input-group mb-3">
              <form action="/search" method="POST" class="d-flex">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>              
                <input class="search-field" type="search" name="searched_unit" id="searched_unit" placeholder="Find a CITS unit..." aria-label="Search">
                <button class="search-btn" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </form>
            </div>
          </div>
          <a id="readMore" class="carousel-readmore">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services -->
<div class="container-fluid services">
  <div class="container mt-5 mb-5">
    <div class="text-center">
      <h5>Our Services</h5>
      <h2>Why choose <span class="nav-brand1">COMPU</span><span class="nav-brand2">TUTE</span>?</h2>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3">
        <div class="service-box">
          <div class="icon-container text-center">
            <i class="bi bi-laptop"></i>
          </div>
          <h3>Online Tutoring</h3>
          <p>Get personalized tutoring sessions from the comfort of your own home.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-box">
          <div class="icon-container text-center">
            <i class="bi bi-person-circle"></i>
          </div>
          <h3>Expert Tutors</h3>
          <p>Learn from our expert tutors who are dedicated to helping you succeed in your CITS units.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-box">
          <div class="icon-container text-center">
            <i class="bi bi-people"></i>
          </div>
          <h3>1000+ Members</h3>
          <p>Join our community of over 1000 students & tutors and experience personalized tutoring.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-box">
          <div class="icon-container text-center">
            <i class="bi bi-award"></i>
          </div>
          <h3>Tailored Experience</h3>
          <p>Receive high-quality tutoring services that are tailored to your needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQ -->
<div class="container-fluid faq">
  <div class="container mt-5 mb-5">
    <div class="text-center">
      <h5>Frequently Asked Questions</h5>
      <h2>Have a question? We have the answer.</h2>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="faq-box">
          <h3>How do I find a tutor?</h3>
          <p>Simply post a request for a CITS unit you want to get tutored in, and a tutor will respond to the request in a timely manner.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-box">
          <h3>How do I become a tutor?</h3>
          <p>If you are interested in becoming a tutor, simply go to the "Accept a tutoring request" page, and accept a request.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-box">
          <h3>How much does tutoring cost?</h3>
          <p>This website is run entirely by students, so getting tutored is free of charge.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-box">
            <h3>What subjects are covered by the tutors?</h3>
          <p>Every and all CITS units are covered. If you require tutoring in units unrelated to CITS, you can still request it.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}