{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">
<title>{% block title %}Tutoring Requests{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="title">My Requests</h1>
    <div class="col-md-12">
      <form action="/searchmy" method="POST" id="searchForm" class="d-flex">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>              
        <input name="searched_unit" id="searched_unit" class="search-field" type="search" placeholder="Search my requests..." aria-label="Search">
        <button class="search-btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="row mb-5">
    <!---Open Requests--->
    <div class="col-md-9 items-section">
      <div class="row">
        {% for request in open %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">             
                <h5 class="card-title">{{ request['unit'] }}</h5>
                <p class="card-text">Your request is yet to be answered</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!---Requestes you have taken--->
    <div class="col-md-9 items-section">
      <div class="row">
        {% for request in taken %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">             
                <h5 class="card-title">{{ request['unit'] }}</h5>
                <p class="card-text">Requested by: {{ request['user'] }}</p>
                <p class="card-text">Completed by: You </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!---Completed Requests by others--->
    <div class="col-md-9 items-section">
      <div class="row">
        {% for request in completed %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">             
                <h5 class="card-title">{{ request['unit'] }}</h5>
                <p class="card-text">You requested this and it was completed by {{ request['tutor'] }} </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
