<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Title</title>
 </head>
    <body>
       <table border = 1>
          <thead>
             <td>tutorID</td>
             <td>tutorName</td>
             <td>tutorEmail</td>
          </thead>
          {% for row in rows %}
             <tr>
                <td>{{row["tutorrID"]}}</td>
                <td>{{row["tutorName"]}}</td>
                <td>{{row["tutorEmail"]}}</td>
             </tr>
          {% endfor %}
       </table>
    </body>
 </html>