<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Title</title>
 </head>
    <body>
     <form action = "{{ url_for('add_student') }}" method = "POST">
          <p>uni name<input type = "text" name = "uniname" /></p>
          <p>lecturer<textarea name = "lecturer" ></textarea></p>
          <p>outline<input type = "text" name = "outline" /></p>
          <p>open semester<input type = "text" name = "opensemester" /></p>
          <input type = "submit" value = "submit" />
       </form>
    </body>
 </html>